body {
    background: url("../img/noise.png") repeat scroll 0 0 #D2EAFF;
    color: #333333;
    font-family: 'Bad Script', 'Lato',Calibri,Arial,sans-serif;
    font-size: 19px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header{
	padding: 20px;
}
.container{
	box-shadow: 0 0 20px #2D84B3;
	background: #fff;
}

.logo{
  font-family: 'Bad Script', cursive;
}

p{
	font-size: 20px;
}
.menu{
	list-style-type: none;
}
.menu li{
	display: inline-block;
}
.menu li a{
	font-size: 20px;
	display: inline-block;
	padding: 5px 9px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.menu li a.selected{
	border-top: solid 2px #2BA6CB;
}
.menu li a:hover{
	border-top: solid 2px #2BA6CB;
}
.github:before, .tweet:before{
    border: 1px dashed #098298;
    content: "";
    display: block;
    height: 90%;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 97%;
}
.github, .tweet{
	display: inline-block;
	padding: 10px 20px;
	background: #2BA6CB;
	color: #fff;
	position: relative;
	border-radius: 4px;
	font-size: 16px;
	transition: all 0.3s;
}
.github:hover, .tweet:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 5px #2BA6CB;
}

.tweet{
 margin-left: 20px;
}