footer.row
  hr
  .twelve.columns
    p
      | Icons by 
      a(href="http://fortawesome.github.com/Font-Awesome/",target="_blank")
        | Font Awesome
      |   |
      | Development with 
      a(href="http://roots.cx",target="_blank")
        | Roots 
      |   |
      | CSS Framework
      a(href="http://foundation.zurb.com/",target="_blank")
        | Foundation
      |   |
      | Built on 
      a(href="http://www.sublimetext.com/2",target="_blank")
        | Sublime Text 2
