.row.header
    .six.columns
      h2.logo
        a(href='index.html')
          i.icon-arrow-up.icon-1x
          | backTotop!
      p A jquery plugin that adds scroll to top button
    .six.columns
        links = {index: "Home", "how-to-use" : "How to use", examples: "Examples"}
      ul.menu
      each ptitle, url in links
        li
          a(href="#{url}.html", class=(title === ptitle) ?  'current' : "") #{ptitle}
      .tools
        a.radius.button(target='_blank', href='https://github.com/websiddu/backTotop')
          i.icon-download.icon-2x
          | Download
        a.radius.button(target='_blank', href='https://github.com/websiddu/backTotop')
          i.icon-github.icon-2x
          | Fork it
        span.seperator
        a(href='http://twitter.com/websiddu')
          i.icon-twitter.icon-1x
          | @websiddu
    hr