title = "Examples"
style(type='text/css')
    body{
      background: url("../img/noise.png") repeat scroll 0 0  #fff;
      }
      a{
      color: #666;
      }
      a:hover{
      color: #000;
      }
      a:focus{
      color: #8F0206;
      }
      .menu li a.current{
      border-top: solid 2px #666;
      }
      .menu li a:hover{
      border-top: solid 2px #666;
      }

.row
  include _header
  .row
      .twelve.columns(style='padding: 0 50px; text-align: center;')
          p
            strong  Ha!
            | An example pretty basic without any configurations
          p ↓
          p ↓
          .content-block
            h3.subheading Java Script
            pre.prettyprint.
              <script>
                (function(){
                  $("body").backTotop({
                    isWindow: true
                  });
                })();
              </script>

          p ↓
          p ↓
          .content-block
            h3.subheading CSS
            pre.prettyprint.
              .back-to-top {
                position: relative;
                font-size: 13px;
                display: inline-block;
                z-index: 999;
                padding: 10px 20px;
                color: #888;
                background: #efefef;
                border:solid 1px #d2d2d2;
                border-radius: 2px;
              }
              .back-to-top:hover,.back-to-top:focus{
                color: #000;
                border:solid 1px #aaa;
              }
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p Scroll down!!
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p
            strong Stop Scrolling buddy!!
          p Even if you scroll more!! the result will be the same!!
          p Now go click on back to top!!
  include _foot

:coffeescript
  $("body").backTotop(
    isWindow: true
  )