title = "Examples"
.row.container
  include _header
  .row.main
    .twelve.columns
      ul.examples.six.columns
        li
          a(href='web-designers-wall.html')
            span Web designers wall
            img(src='./img/examples/wdw.png', alt='Web designers wall')
      ul.examples.six.columns
        li
          a(href='flipkart.html')
            span Flipkart
            img(src='./img/examples/flipkart.png', alt='flipkart')
  include _foot

:coffeescript
  $("body").backTotop(
    isWindow: true
    cssClass: "blue"
  )

