!!! 5
html
  head
    include _head
    script(src='js/jquery.min.js')
    script(src='js/prettify.js')
    script(src='js/jquery.backTotop.js')
  body(onload="prettyPrint()")
    != yield

  //- this must be included for live reload to work in developement
  //- it will be automatically ignored when deployed
  != livereload