title = "Examples"
style(type='text/css')
    body{
      background: url("../img/noise.png") repeat scroll 0 0  #F1EEE0;
      }
      a{
      color: #8F0206;
      }
      a:hover{
      color: #444;
      }
      a:focus{
      color: #8F0206;
      }
      .menu li a.current{
      border-top: solid 2px #8F0206;
      }
      .menu li a:hover{
      border-top: solid 2px #8F0206;
      }

.row
  include _header
  .row
      .twelve.columns(style='padding: 0 50px; text-align: center;')
          p
            strong  Ha!
            | An example backTotop similar to webdesignerswall.com
          p ↓
          p ↓
          .content-block
            h3.subheading Java Script
            pre.prettyprint.
              <script>
                (function(){
                  $("body").backTotop({
                    isWindow: true,
                    text: "BACK TO TOP <i class='icon-circle-arrow-up icon-2x'></i>",
                    cssClass:"web-designer-wall",
                    buttonPos:{
                      left: 20,
                      bottom: 20
                    }
                  });
                })();
              </script>

          p ↓
          p ↓
          .content-block
            h3.subheading CSS
            pre.prettyprint.
              .web-designer-wall{
                font-family: Ubuntu, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
                border: 0;
                background: none;
              }
              .web-designer-wall i{
                vertical-align: middle;
              }
              .web-designer-wall:hover{
                color: #333;
                border: none;
              }

          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p Scroll down!!
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p ↓
          p
            strong Stop Scrolling buddy!!
          p Even if you scroll more!! the result will be the same!!
          p Now go click on back to top!!
  include _foot

:coffeescript
  $("body").backTotop(
    isWindow: true
    text: "BACK TO TOP <i class='icon-circle-arrow-up icon-2x'></i>"
    cssClass:"web-designer-wall"
    buttonPos:
      left: 20
      bottom: 20
  )