body {
    background: url("../img/noise.png") repeat scroll 0 0 #D2EAFF;
    color: #333333;
    font-family:'Bad Script', Ubuntu, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 19px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: scroll;
}
a:focus{
	outline: 0;
}
.header{
	padding: 20px;
}
.container{
	box-shadow: 0 0 20px #2D84B3;
	background: #fff;
}
.logo, h3, h4{
    font-family: 'Bad Script', Ubuntu, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h4, h3{
    font-weight: normal;
}
p{
    font-size: 20px;
}
.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
}
.menu li a{
    font-size: 20px;
    display: inline-block;
    padding: 5px 9px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.menu li a.selected{
    border-top: solid 2px #2BA6CB;
}
.menu li a:hover{
    border-top: solid 2px #2BA6CB;
}

.tools .button{
    padding: 5px 10px;
    font-family: Ubuntu, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
    display: inline-block;
}
.tools .button i{
    vertical-align: middle;
}
.main{
	padding: 0 50px 50px 50px;
}

.cont{
    background:url("../img/noise.png") repeat scroll 0 0 #FFA2C0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px #D6619B;
    border: 1px solid #FFE7E7;
    color: #FFFFFF;
    font-size: 30px;
    height: 500px;
    margin: 0 100px;
    overflow: auto;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #33455B;
}
.cont p{
	font-size: 25px;
}


/* Styles for how to use page */
.subheading{
line-height: 40px;
vertical-align: middle;
}
.subheading span{
    background: none repeat scroll 0 0 #2BA6CB;
    border-radius: 40px 40px 40px 40px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 35px;
    height: 40px;
    line-height: 40px;
    vertical-align: text-top;
    width: 40px;
    text-align: center;
    margin-right: 5px;
}


/*Example page styles */
.examples{
    list-style-type: none;
}
.examples li{
    display: inline-block;
    margin-right: 10px;
}
.examples li a{
        overflow: hidden;
    position: relative;
    display: block;
}
.examples li a img{
    padding: 4px;
    border:solid 1px #d2d2d2;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}

.examples li a span{
    position: absolute;
    text-align: center;
    display: block;
    padding: 10px;
    width: 100%;
    top: 20px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.52);
    color: #fff;
    font-size: 17px;
}